.filterForm {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.filterContact {
  height: 30px;
  margin: 0 0 10px 0;
  padding: 5px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
}
